<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ServiceName" value="OSRM control service" />
    <add key="ServiceDisplayName" value="OSRM Control service" />
    <add key="ServiceDescription" value="OSRMCS" />
    <add key="ServicePath" value="D:/Temp/ServiceRunner/ServiceRunner/ChildProcessTest/bin/Debug/ChildProcessTest.exe" />
    <add key="ServiceArguments" value="" />
    <!--In seconds-->
    <add key="RestartTimeout" value="0" />
    <add key="RestartAfterCrash" value="true" />
  </appSettings>
</configuration>
