<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
    <target name="fileService" xsi:type="File" fileName="${basedir}/logs/${shortdate}/service.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
    <target name="fileException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error.txt" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message}">
      <highlight-row condition="level >= LogLevel.Error" foregroundColor="White" backgroundColor="Red" />
    </target>
  </targets>

  <rules>
    <logger name="main" minLevel="Info" writeTo="console,fileMain,fileDebug" />
    <logger name="*" minLevel="Debug" maxLevel="Debug"  writeTo="console,fileDebug" />
    <logger name="exception" minlevel="Error" writeTo="console,fileException" />
    <logger name="service" minlevel="Trace" writeTo="console,fileService" />
  </rules>
</nlog>