<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <!--
    С помощью этих строк можно дебажить NLog
    internalLogLevel="Trace"
    internalLogFile="d:\work\log.txt">
    -->

    <!--For future-->
    <!--<variable name="gmailUsername" value="${trim-whitespace:${file-contents:${basedir}/gmailusername.txt}}" />
    <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${basedir}/gmailpassword.txt}}" />-->

    <targets>
        <target name="fileMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/main.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
        <target name="fileTopshelf" xsi:type="File" fileName="${basedir}/logs/${shortdate}/topshelf.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;" />
        <target name="fileServiceMain" xsi:type="File" fileName="${basedir}/logs/${shortdate}/service.txt" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
        <target name="fileException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/error.txt" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
        <target name="fileServiceException" xsi:type="File" fileName="${basedir}/logs/${shortdate}/serviceError.txt" layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"/>
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${message}">
            <highlight-row condition="level >= LogLevel.Error" foregroundColor="White" backgroundColor="Red" />
        </target>


        <!-- For future -->
        
        <!-- log message to event log -->
        <!--
        <target xsi:type="EventLog" name="eventLog" source="NLog Demo"
                layout="${message}${newline}Call site: ${callsite:className=true:methodName=true}${newline}Logger: ${logger}">
        </target>
        
        -->
        <!-- send mail through GMail server -->
        <!--
        <target xsi:type="Mail"
                name="mail"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                enableSsl="true"
                smtpAuthentication="Basic"
                smtpUserName="${gmailUsername}"
                smtpPassword="${gmailPassword}"
                from="${gmailUsername}"
                to="${gmailUsername}"
                subject="NLogDemo logs"
                addNewLines="true"
            />
        
        -->
        <!-- send mail asynchronously, so that it does not block the calling thread -->
        <!--
        <wrapper-target xsi:type="AsyncWrapper" name="asyncMail">
            <target-ref name="mail"/>
        </wrapper-target>-->

    </targets>

    <rules>
        <logger name="main" minLevel="Info" writeTo="console,fileMain" />
        <logger name="exception" minlevel="Error" writeTo="console,fileException" />
        <logger name="serviceMain" minlevel="Trace" writeTo="fileServiceMain" />
        <logger name="serviceException" minlevel="Error" writeTo="fileServiceException" />
        
        <logger name="*" minLevel="Info" writeTo="console,fileMain,fileTopshelf" >
            <!--Чтобы в main и console попали важные данные от TopShelf, но не было дублирования-->
            <filters>
                <when condition="starts-with('${logger}', 'Topshelf')" action="Log"/>
                <when condition="not starts-with('${logger}', 'Topshelf')" action="Ignore"/>
            </filters>
        </logger>
    </rules>
</nlog>